---
layout: page
title: "Blog"
---

            <div class="row">
              <!-- post -->
                        {% for post in site.posts %}
              <div class="post col-xl-6">
                          {% if page.thumbnail %}
                <div class="post-thumbnail"><a href="post.html"><img src="{{site.baseurl}}/{{post.thumbnail}}" alt="{{post.title}}" class="img-fluid"></a></div>
                          {% endif %}
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">{{ post.date | date: "%d %B %Y" }}</div>
                    <div class="category"><a href="#">{{post.category}}</a></div>
                  </div><a href="{{ post.url | prepend: site.baseurl }}">
                    <h3 class="h4">{{ post.title }}</h3></a>
                  <p class="text-muted">{{ post.description | strip_html | truncatewords:25 }}</p>
                  <footer class="post-footer d-flex align-items-center"><p class="author d-flex align-items-center flex-wrap">
                      <div class="title"><span>{{site.username}}</span></div></p>
                    <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                  </footer>
                </div>
              </div>
                  {% endfor %}
            </div>
