---
layout: page
title: "Category"
description: "Take a look at my beautiful category."
---

<div class="category">
{% assign category_list  = site.category %}
  {% if category_list.first[0] == null %}
    {% for category in category_list %}
        <a data-scroll href="#{{ category | slugify }}">{{ category }}</a>
    {% endfor %}
  {% else %}
    {% for category in category_list %}
        <a data-scroll href="#{{ category[0] | slugify }}">{{ category[0] }}</a>
    {% endfor %}
  {% endif %}
{% assign category_list = nil %}
</div>

{% for category in site.category %}
    <span class="tag-title" id="{{ category[0] | slugify }}">{{ category[0] }}</span>
    <ul class="post-list">
        {% assign pages_list = category[1] %}
        {% for post in pages_list reversed %}
            {% if post.title != null %}
            {% if group == null or group == post.group %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time><span></a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>
{% endfor %}


#### Lorem ipsum dolor sit amet, consectetur adipisicing elit, 

sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

              
              
{% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
  </li>
{% endfor %}
      
              
{% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
