          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
		  {% for category in site.categories %}
                    <div class="item d-flex justify-content-between">
                              <a href="{{ site.baseurl }}/category#{{category[0] | slugify }}">{{ category[0] }}</a>
                              <span>12</span>
                    </div>
		{% endfor %}
          </div>
