---
layout: default
---

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">  
          <div class="container">
            <div class="post-single">
		{% if post.thumbnail %}
              <div class="post-thumbnail"><img src="{{ post.thumbnail }}" alt="{{post.title}}" class="img-fluid"></div>
		{% endif %}
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category"><a href="#">Business</a><a href="#">Financial</a></div>
                </div>
                <h1>{{ post.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="title"><span>{{site.username}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i>{{ post.date | date: '%B %d, %Y' }}</div>
                    <div class="views"><i class="icon-eye"></i> 500</div>
                  </div>
                </div>
		      {{ content }}
              </div>
            </div>
          </div>
        </main>
        <aside class="col-lg-4">
        {% include widget-search-bar.html %}
        {% include widget-latest-posts.html %}
        {% include widget-categories.html %}
        {% include widget-tags.html %}
        </aside>
      </div>
    </div>
