---
layout: default
---

<div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">  
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="img/blog-post-3.jpeg" alt="..." class="img-fluid"></div>
              <!-- post -->
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="post.html"><img src="img/blog-post-1.jpeg" alt="..." class="img-fluid"></a></div>
				{{ content }}
              </div>
            </div>
          </div>
        </main>
        <aside class="col-lg-4">
        {% include widget-search-bar.html %}
        {% include widget-latest-posts.html %}
        {% include widget-categories.html %}
        {% include widget-tags.html %}
        </aside>
      </div>
    </div>
